.accountinfo-container {
  min-height: 100vh;
  background-color: #f4f4f4;
}
   
.accountinfo-section {
  padding: 20px;
}
  
.section-title {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 20px;
}
  
.info-card {
  background-color: #dddddd;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
  position: relative;
  min-height: 200px;
}
  
.info-buttons {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
  
.save-button,
.password-button {
  background-color: black;
  color: white;
  border: none;
  padding: 8px 10px;
  border-radius: 5px;
  font-size: 12px;
  cursor: pointer;
}
  
.save-button:hover,
.password-button:hover {
  background-color: #333;
}
  
.info-card p {
  margin: 10px 0;
}
  