/* Portfolio.css */

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

.dashboard-container {
  padding: 20px;
}

.dashboard-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto auto auto;
  gap: 20px;
}

.portfolio-performance {
  grid-column: span 2;
  background-color: #ddd;
  height: 250px;
  padding: 20px;
  border-radius: 8px;
}

.your-stocks {
  background-color: #ddd;
  padding: 20px;
  border-radius: 8px;
}

.stat {
  background-color: #ddd;
  padding: 20px;
  border-radius: 8px;
}

.bank-info {
  grid-column: 3 / 4;
  grid-row: 2 / span 2;
  background-color: #ddd;
  padding: 20px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.bank-info input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}